.user {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(251, 195, 201, 0.273);
    object-fit: contain;
}

.user > h3 {
    color: darkslategrey;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;

}

.user > h4 {
    color: darkslategrey;
    margin-top: 8px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .user > h3 {
        color: darkslategrey;
        font-size: 50px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 750px) {
    .user > h3 {
        color: darkslategrey;
        font-size: 20px;
        margin-top: 20px;
    }
    .user > h4 {
        color: darkslategrey;
        font-size: 15px;
        margin-top: 20;
    }
}