.latency {
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(233, 190, 249, 0.774);
    object-fit: contain;
}

.latency > h2 {
    color: darkslategrey;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;

}

.latency > h4 {
    color: darkslategrey;
    margin-top: 8px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .latency > h2 {
        color: darkslategrey;
        font-size: 30px;
        margin-top: 2px;
    }
}

@media screen and (max-width: 750px) {
    .latency > h2 {
        color: darkslategrey;
        font-size: 20px;
        margin-top: 20px;
    }
    .latency > h4 {
        color: darkslategrey;
        font-size: 15px;
        margin-top: 20;
    }
}